var new_comment = $("<%= escape_javascript(render(:patial=>@comment)) %>").hide();
$('#comments').prepend(newcomment);
$('#comment_<%= @comment.id %>').fadeIn('slow');
$('#new_comment')[0].reset();